!.gitignore

picturesOfEreignisse/
presentation/
scgbib/
thesis_examples/
time/
ereignisse.txt
seminar.txt
structure.docx
thesisText.docx
Time.csv
notes.txt
fragen.txt

bsc-thesis/preamble.aux
bsc-thesis/preamble.org
bsc-thesis/preamble.tcp
bsc-thesis/preamble.tps
bsc-thesis/thesis.aux
bsc-thesis/thesis.bbl
bsc-thesis/thesis.blg
bsc-thesis/thesis.log
bsc-thesis/thesis.out
bsc-thesis/thesis.toc
bsc-thesis/scg.bib